{% extends "analyse/default.html" %}

{% block content %}
        <div class="containing-table">
            <div class="centre-align">
                <div class="content">
                    <div class="box">
                    <h1><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Twitter Opinions</h1>
                        <div class = "results">
                            {% for line in information %}
                                {{ line }}</br>
                            {% endfor %}
                        </div>
                    <a class="button" href = "{% url 'index' %}">Reset</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}